.rodape__logo{  
    width: 30px;
}

.rodape{
    background-color: var(--cor-bege);
}
.rodape__cabecalho{
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-laranja);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    
}

.rodape__txt{
    margin:0 1em;
    text-align:center;
    line-height: 1.2em;
}

.txt{
    color: var(--cor-azul);
    font-size: 18px;
    font-weight: 500;
}

.rodape__links{
    display: flex;
    justify-content: space-between;
    margin: 1.2em;
}

.links{
    margin: 0.5em;
}

.links__titulo{
    color: var(--cor-laranja);
    padding: 1em 0;
}

.item{
    margin-bottom: 0.5em;
}

.redes__img img{
    width: 10%;
    margin: 0 0.5em;
}

.redes{
    text-align: center;
    margin: 0 1em;
}

.redes__copyright{
    padding: 1em;
    margin: 0 6em;
    line-height: 2em;
    font-size: 13px;
}

@media screen and (min-width: 768px) {
    .redes__img img{
        width: 10%;
        margin: 0 0.5em;
    }
}

@media screen and (min-width: 1024px) {
    
    .redes__img img{
        width: 5%;
        margin: 0 0.5em;
    }

    .rodape__links{
        justify-content: space-between;
    }

    .rodape-container{
        margin: 0 20vw;
    }
}